@{
    ViewData["Title"] = "Auditorías";
}

<h2>Auditorías</h2>

<ul class="list-group col-md-4">
    <li class="list-group-item">
        <a asp-controller="Auditorias" asp-action="Contratos">Auditoría de Contratos</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Auditorias" asp-action="Pagos">Auditoría de Pagos</a>
    </li>
</ul>
