@model _Net.Models.Inquilino

@{
    ViewData["Title"] = "Editar Inquilino";
}

<h4>Editar Inquilino</h4>

<form asp-action="Edit" method="post" class="col-md-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="IdInquilino" />

    <div class="mb-3">
        <label asp-for="Documento" class="form-label">Documento</label>
        <input asp-for="Documento" type="number" class="form-control" />
        <span asp-validation-for="Documento" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Apellido" class="form-label"></label>
        <input asp-for="Apellido" class="form-control" />
        <span asp-validation-for="Apellido" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefono" class="form-label"></label>
        <input asp-for="Telefono" class="form-control" />
        <span asp-validation-for="Telefono" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Mail" class="form-label"></label>
        <input asp-for="Mail" type="email" class="form-control" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
